<div *ngIf="loadingService.loading$ | async; else content"></div>

<ng-template #content>
  <div>
    <div
      class="w-full h-full flex flex-col justify-center items-center bg-myred"
    >
      <div class="w-10/12 h-full flex flex-col justify-center items-center">
        <div
          class="w-full flex flex-col lg:flex-row items-start gap-4 lg:gap-6 lg:pt-12 lg:pb-14 pt-6 pb-8"
        >
          <div class="mr-12">
            <p class="lg:text-4xl text-2xl text-mywhite font-thin">
              <span class="font-normal">Social</span>Network
            </p>
          </div>
          <div
            class="bg-mywhite py-1 px-2 lg:py-3 lg:px-4 flex items-center w-full lg:w-[40%]"
          >
            <input
              type="text"
              class="bg-mywhite text-myred search-input w-full"
              placeholder="Find..."
            />
            <button class="icon">
              <mat-icon class="text-myred">search</mat-icon>
            </button>
          </div>
          <div class="flex flex-row gap-3 items-center w-full lg:hidden">
            <button
              class="bg-mywhite py-1 px-2 lg:py-3 lg:px-4 flex items-center w-[60%]"
            >
              <div class="icon">
                <mat-icon class="text-myred">file_upload</mat-icon>
              </div>
              <p class="text-myred text-sm lg:text-base">Upload</p>
            </button>
            <div class="flex items-center gap-1 lg:gap-3 profile w-[40%]">
              <button
                class="bg-mywhite py-1 px-2 lg:py-3 lg:px-4 flex items-center"
              >
                <div class="icon">
                  <mat-icon class="text-myred">person</mat-icon>
                </div>
              </button>
              <div class="text-mywhite">
                <p class="text-xs lg:text-xl">Waseem</p>
                <p class="text-xs lg:text-sm">Arshad</p>
              </div>
            </div>
          </div>
          <button
            class="bg-mywhite py-1 px-2 lg:py-3 lg:px-4 items-center hidden lg:flex"
          >
            <div class="icon">
              <mat-icon class="text-myred">file_upload</mat-icon>
            </div>
            <p class="text-myred text-sm lg:text-base">Upload</p>
          </button>
          <div class="items-center gap-1 lg:gap-3 profile hidden lg:flex">
            <button
              class="bg-mywhite py-1 px-2 lg:py-3 lg:px-4 flex items-center"
            >
              <div class="icon">
                <mat-icon class="text-myred">person</mat-icon>
              </div>
            </button>
            <div class="text-mywhite">
              <p class="text-xs lg:text-xl">Waseem</p>
              <p class="text-xs lg:text-sm">Arshad</p>
            </div>
          </div>
        </div>

        <div class="w-full border-mywhite border-y-2 mb-14">
          <div
            class="w-full text-mywhite flex flex-col lg:flex-row items-center text-sm lg:text-base py-4 gap-6"
          >
            <a class="nav-text" href="#videos">Videos</a>
            <a class="nav-text" href="#people">People</a>
            <a class="nav-text" href="#documents">Documents</a>
            <a class="nav-text" href="#events">Events</a>
            <a class="nav-text" href="#communities">Communities</a>
            <a class="nav-text" href="#favourites">Favourites</a>
            <a class="nav-text" href="#channels">Channels</a>
          </div>
        </div>

        <div
          id="section-1"
          class="w-full flex flex-col lg:flex-row mb-14 gap-6"
        >
          <div id="videos" class="w-full lg:w-[60%]">
            <div class="flex items-end text-mywhite mb-4">
              <p class="text-3xl w-1/2">Videos</p>
              <p class="w-1/2 text-right text-xs lg:text-sm cursor-pointer">
                Browse all videos
              </p>
            </div>

            <div *ngIf="videos.length !== 0" class="grid-parent">
              <div
                *ngFor="let video of videos"
                [attr.class]="
                  'item-grid' + video.id + ' item-grid flex items-end'
                "
              >
                <div class="w-full pb-1 px-2">
                  <p class="text-myred text-2xl" *ngIf="video.id === 1">
                    {{ video.title }}
                  </p>
                  <div
                    class="text-myred text-xs lg:text-sm flex w-full justify-between"
                  >
                    <p>{{ video.user }}</p>
                    <p>{{ video.views }} views</p>
                  </div>
                </div>
              </div>
              <div
                class="item-grid flex justify-center items-center bg-myred border border-mywhite item-grid6"
              >
                <div class="flex items-center gap-3">
                  <div class="icon">
                    <mat-icon class="text-mywhite text-4xl w-full h-full"
                      >play_circle</mat-icon
                    >
                  </div>
                  <div class="text-mywhite text-xs lg:text-sm">
                    <p>Upload</p>
                    <p>Your Own Video</p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="videos.length === 0">
              <p class="text-xs lg:text-sm text-mywhite">
                There's no videos currently for now.
              </p>
            </div>
          </div>
          <div id="activity" class="w-full lg:w-[40%]">
            <div class="flex items-end justify-between text-mywhite mb-4">
              <p class="text-3xl">Activity</p>
              <p class="text-xs lg:text-sm">
                <span class="cursor-pointer">View timeline</span> /
                <span class="cursor-pointer">Filter activities</span>
              </p>
            </div>
            <div
              class="flex items-center flex-col border-y border-mywhite border-t-4 gap-3 py-3"
              *ngIf="activities.length !== 0"
            >
              <div
                class="w-full flex items-center gap-3 activity-item"
                *ngFor="let activity of activities"
              >
                <div class="bg-mywhite w-[40%] h-20 activity-pict"></div>
                <div class="text-mywhite font-light w-[60%]">
                  <p class="font-medium text-lg elepsis">
                    {{ activity.user
                    }}<span
                      class="text-xs lg:text-sm font-light mb-1 lg:mb-0 lg:ml-1 block lg:inline"
                      >{{ activity.statusmessage }}</span
                    >
                  </p>
                  <p class="text-xs lg:text-sm mb-1 elepsis">
                    {{ activity.message }}
                  </p>
                  <div class="flex items-center">
                    <div class="icon">
                      <mat-icon
                        class="text-mywhite text-xs lg:text-sm w-fit h-fit mr-1"
                        >{{ activity.activityIcon }}</mat-icon
                      >
                    </div>
                    <p class="text-xs">{{ activity.uploadDate | timeAgo }}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="activities.length === 0">
                <p class="text-xs lg:text-sm text-mywhite">
                  There's no activity currently for now.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          id="section-2"
          class="w-full flex flex-col lg:flex-row mb-14 gap-6"
        >
          <div class="w-full lg:w-[60%]">
            <div id="people" class="w-full mb-14">
              <div class="flex items-end text-mywhite mb-4">
                <p class="text-lg lg:text-3xl w-1/2">People</p>
                <p class="w-1/2 text-right text-xs lg:text-sm cursor-pointer">
                  View all
                </p>
              </div>

              <div *ngIf="peoples.length !== 0" class="grid-parent">
                <div
                  *ngFor="let people of peoples"
                  [attr.class]="
                    'item-grid' + people.id + ' item-grid flex items-end'
                  "
                >
                  <div class="w-full pb-1 px-2">
                    <p class="text-myred text-2xl" *ngIf="people.id === 1">
                      {{ people.job }}
                    </p>
                    <div
                      class="text-myred text-xs lg:text-sm flex w-full justify-between"
                    >
                      <p>{{ people.user }}</p>
                      <p *ngIf="people.id === 1">{{ people.views }} views</p>
                    </div>
                  </div>
                </div>
                <div
                  class="item-grid flex justify-center items-center bg-myred border border-mywhite item-grid6"
                >
                  <div class="flex items-center gap-3">
                    <div class="icon">
                      <mat-icon class="text-mywhite text-4xl w-full h-full"
                        >radio_button_checked</mat-icon
                      >
                    </div>
                    <div class="text-mywhite text-xs lg:text-sm">
                      <p>Show</p>
                      <p>Your Work</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="videos.length === 0">
                <p class="text-xs lg:text-sm text-mywhite">
                  There's no videos currently for now.
                </p>
              </div>
            </div>
            <div id="documents" class="w-full mb-14">
              <div class="flex items-end text-mywhite mb-4">
                <p class="text-3xl w-1/2">Documents</p>
                <p class="w-1/2 text-right text-xs lg:text-sm cursor-pointer">
                  Browse all documents
                </p>
              </div>

              <div *ngIf="documents.length !== 0" class="grid-parent">
                <div
                  *ngFor="let document of documents"
                  [attr.class]="
                    'item-grid' + document.id + ' item-grid flex items-end'
                  "
                >
                  <div class="w-full pb-1 px-2">
                    <p class="text-myred text-2xl" *ngIf="document.id === 1">
                      {{ document.title }}
                    </p>
                    <p class="text-myred" *ngIf="document.id !== 1">
                      {{ document.title }}
                    </p>
                    <div
                      class="text-myred text-xs lg:text-sm flex w-full justify-between"
                    >
                      <p *ngIf="document.id === 1">By {{ document.author }}</p>
                      <p>{{ document.views }} views</p>
                    </div>
                  </div>
                </div>
                <div
                  class="item-grid flex justify-center items-center bg-myred border border-mywhite item-grid6"
                >
                  <div class="flex items-center gap-3">
                    <div class="icon">
                      <mat-icon class="text-mywhite text-4xl w-full h-full"
                        >add_circle</mat-icon
                      >
                    </div>
                    <div class="text-mywhite text-xs lg:text-sm">
                      <p>Share</p>
                      <p>Your Document</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="videos.length === 0">
                <p class="text-xs lg:text-sm text-mywhite">
                  There's no document currently for now.
                </p>
              </div>
            </div>
          </div>
          <div id="channels" class="w-full lg:w-[40%]">
            <div class="flex items-end justify-between text-mywhite mb-4">
              <p class="text-3xl">Channels</p>
              <p class="text-xs lg:text-sm cursor-pointer">
                Browse all channels
              </p>
            </div>
            <div
              class="flex items-center flex-wrap border-y border-mywhite border-t-4 pt-3 w-full"
            >
              <div
                class="channel-item w-1/2 h-32"
                *ngFor="let channel of channels"
              >
                <div
                  class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
                >
                  <p class="text-lg font-medium">{{ channel.channel }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
