<div class="w-full h-full flex flex-col justify-center items-center bg-myred">
  <div class="w-10/12 h-full flex flex-col justify-center items-center">
    <div class="w-full flex items-start gap-6 pt-12 pb-14">
      <div class="mr-12">
        <p class="text-4xl text-mywhite font-thin">
          <span class="font-normal">Social</span>Network
        </p>
      </div>
      <div class="bg-mywhite py-3 px-4 flex items-center w-[40%]">
        <input
          type="text"
          class="bg-mywhite text-myred search-input w-full"
          placeholder="Find..."
        />
        <button class="icon">
          <mat-icon class="text-myred">search</mat-icon>
        </button>
      </div>
      <button class="bg-mywhite py-3 px-4 flex items-center">
        <div class="icon">
          <mat-icon class="text-myred">file_upload</mat-icon>
        </div>
        <p class="text-myred">Upload</p>
      </button>
      <div class="flex items-center gap-3 profile">
        <button class="bg-mywhite py-3 px-4 flex items-center">
          <div class="icon">
            <mat-icon class="text-myred">person</mat-icon>
          </div>
        </button>
        <div class="text-mywhite">
          <p class="text-xl">Waseem</p>
          <p class="text-sm">Arshad</p>
        </div>
      </div>
    </div>

    <div>
      <h2>User List</h2>
      <ul>
        <li *ngFor="let user of users">{{ user.name }}</li>
      </ul>
    </div>

    <div class="w-full border-mywhite border-y-2 mb-14">
      <div class="w-full text-mywhite flex items-center text-xl py-4 gap-6">
        <a class="nav-text" href="#videos">Videos</a>
        <a class="nav-text" href="#people">People</a>
        <a class="nav-text" href="#documents">Documents</a>
        <a class="nav-text" href="#events">Events</a>
        <a class="nav-text" href="#communities">Communities</a>
        <a class="nav-text" href="#favourites">Favourites</a>
        <a class="nav-text" href="#channels">Channels</a>
      </div>
    </div>

    <div id="section-1" class="w-full flex mb-14 gap-6">
      <div id="videos" class="w-[60%]">
        <div class="flex items-end text-mywhite mb-4">
          <p class="text-3xl w-1/2">Videos</p>
          <p class="w-1/2 text-sm">Browse all videos</p>
        </div>

        <div class="grid-parent">
          <div class="item-grid flex items-end" id="item-grid1">
            <div class="w-full pb-1 px-2">
              <p class="text-myred text-2xl">How to improve your skills</p>
              <div class="text-myred text-sm flex w-full justify-between">
                <p>Waseem Arshad</p>
                <p>1237489 views</p>
              </div>
            </div>
          </div>
          <div class="item-grid flex items-end" id="item-grid2">
            <div class="w-full pb-1 px-2">
              <div class="text-myred text-sm flex w-full justify-between">
                <p>John Stainer</p>
                <p>2341 views</p>
              </div>
            </div>
          </div>
          <div class="item-grid flex items-end" id="item-grid3">
            <div class="w-full pb-1 px-2">
              <div class="text-myred text-sm flex w-full justify-between">
                <p>John Doee</p>
                <p>2352 views</p>
              </div>
            </div>
          </div>
          <div class="item-grid flex items-end" id="item-grid4">
            <div class="w-full pb-1 px-2">
              <div class="text-myred text-sm flex w-full justify-between">
                <p>Michael Keliph</p>
                <p>15637 views</p>
              </div>
            </div>
          </div>
          <div class="item-grid flex items-end" id="item-grid5">
            <div class="w-full pb-1 px-2">
              <div class="text-myred text-sm flex w-full justify-between">
                <p>Ahmed Taslim</p>
                <p>1986 views</p>
              </div>
            </div>
          </div>
          <div
            class="item-grid flex justify-center items-center bg-myred border border-mywhite"
            id="item-grid6"
          >
            <div class="flex items-center gap-3">
              <div class="icon">
                <mat-icon class="text-mywhite text-4xl">play_circle</mat-icon>
              </div>
              <div class="text-mywhite text-sm">
                <p>Upload</p>
                <p>Your Own Video</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="activity" class="w-[40%]">
        <div class="flex items-end justify-between text-mywhite mb-4">
          <p class="text-3xl">Activity</p>
          <p class="text-sm">View timeline / Filter activities</p>
        </div>
        <div
          class="flex items-center flex-col border-y border-mywhite border-t-4 gap-3 py-3"
        >
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                John Stainer<span class="text-sm font-light ml-1"
                  >connected</span
                >
              </p>
              <p class="text-sm mb-1">
                Well, I am liking on how you capturing the audio
              </p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >chat_bubble</mat-icon
                  >
                </div>
                <p class="text-xs">2 seconds ago</p>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                John Stainer<span class="text-sm font-light ml-1"
                  >added a new video</span
                >
              </p>
              <p class="text-sm mb-1">
                Creative people must follow this guideline
              </p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >videocam</mat-icon
                  >
                </div>
                <p class="text-xs">5 minutes ago</p>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                John Stainer<span class="text-sm font-light ml-1"
                  >shared a new document</span
                >
              </p>
              <p class="text-sm mb-1">"How to become an expert"</p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >description</mat-icon
                  >
                </div>
                <p class="text-xs">5 days ago</p>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                Arjun<span class="text-sm font-light ml-1"
                  >unlocked a new badge</span
                >
              </p>
              <p class="text-sm mb-1">Social Guru</p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >badge</mat-icon
                  >
                </div>
                <p class="text-xs">44 minutes ago</p>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                Michael<span class="text-sm font-light ml-1"
                  >uploaded a new video</span
                >
              </p>
              <p class="text-sm mb-1">
                How do I start a website design project
              </p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >videocam</mat-icon
                  >
                </div>
                <p class="text-xs">2 hours ago</p>
              </div>
            </div>
          </div>
          <div class="w-full flex items-center gap-3">
            <div class="bg-mywhite w-32 h-20"></div>
            <div class="text-mywhite font-light">
              <p class="font-medium text-lg">
                John Stainer<span class="text-sm font-light ml-1"
                  >liked a video</span
                >
              </p>
              <p class="text-sm mb-1">Some marketing tricks</p>
              <div class="flex items-center">
                <div class="icon">
                  <mat-icon class="text-mywhite text-sm w-fit h-fit mr-1"
                    >favorite</mat-icon
                  >
                </div>
                <p class="text-xs">27 minutes ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="section-2" class="w-full flex mb-14 gap-6">
      <div class="w-[60%]">
        <div id="people" class="w-full mb-14">
          <div class="flex items-end text-mywhite mb-4">
            <p class="text-3xl w-1/2">Videos</p>
            <p class="w-1/2 text-sm">Browse all videos</p>
          </div>

          <div class="grid-parent">
            <div class="item-grid flex items-end" id="item-grid1">
              <div class="w-full pb-1 px-2">
                <p class="text-myred text-2xl">How to improve your skills</p>
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Waseem Arshad</p>
                  <p>1237489 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid2">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>John Stainer</p>
                  <p>2341 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid3">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>John Doee</p>
                  <p>2352 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid4">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Michael Keliph</p>
                  <p>15637 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid5">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Ahmed Taslim</p>
                  <p>1986 views</p>
                </div>
              </div>
            </div>
            <div
              class="item-grid flex justify-center items-center bg-myred border border-mywhite"
              id="item-grid6"
            >
              <div class="flex items-center gap-3">
                <div class="icon">
                  <mat-icon class="text-mywhite text-4xl">play_circle</mat-icon>
                </div>
                <div class="text-mywhite text-sm">
                  <p>Upload</p>
                  <p>Your Own Video</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="documents" class="w-full">
          <div class="flex items-end text-mywhite mb-4">
            <p class="text-3xl w-1/2">Videos</p>
            <p class="w-1/2 text-sm">Browse all videos</p>
          </div>

          <div class="grid-parent">
            <div class="item-grid flex items-end" id="item-grid1">
              <div class="w-full pb-1 px-2">
                <p class="text-myred text-2xl">How to improve your skills</p>
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Waseem Arshad</p>
                  <p>1237489 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid2">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>John Stainer</p>
                  <p>2341 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid3">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>John Doee</p>
                  <p>2352 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid4">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Michael Keliph</p>
                  <p>15637 views</p>
                </div>
              </div>
            </div>
            <div class="item-grid flex items-end" id="item-grid5">
              <div class="w-full pb-1 px-2">
                <div class="text-myred text-sm flex w-full justify-between">
                  <p>Ahmed Taslim</p>
                  <p>1986 views</p>
                </div>
              </div>
            </div>
            <div
              class="item-grid flex justify-center items-center bg-myred border border-mywhite"
              id="item-grid6"
            >
              <div class="flex items-center gap-3">
                <div class="icon">
                  <mat-icon class="text-mywhite text-4xl">play_circle</mat-icon>
                </div>
                <div class="text-mywhite text-sm">
                  <p>Upload</p>
                  <p>Your Own Video</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="channels" class="w-[40%]">
        <div class="flex items-end justify-between text-mywhite mb-4">
          <p class="text-3xl">Channels</p>
          <p class="text-sm">Browse all channels</p>
        </div>
        <div
          class="flex items-center flex-wrap border-y border-mywhite border-t-4 pt-3 w-full"
        >
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
          <div class="channel-item w-1/2 h-32">
            <div
              class="text-myred flex w-full h-full items-end pb-1 px-2 bg-mywhite"
            >
              <p class="text-lg font-medium">Google</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
